* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --height: 100vh;
    --width: 100%;
  }

body { 
  font-family: sans-serif; 
  background-color: antiquewhite;
}

.scene {
  width: var(--width);
  height: var(--height);
  perspective: calc(var(--height)/1.5);
}

.cube {
  width: 100%;
  height: 100%;
  scale: 1;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(calc(-1 * var(--height)/2));
}

@keyframes pullout {
  0%   {scale: 1;
    transform: translateZ(calc(-1 * var(--height)/2)) rotateX(  90deg);}
  35%  {scale: 0.6;}
  100% {scale: 1;
    transform: translateZ(calc(-1 * var(--height)/2)) rotateY(   0deg);}
}
@keyframes pullout1 {
  0%   {scale: 1;}
  35%  {scale: 0.6;}
  100% {scale: 1;
    transform: translateZ(calc(-1 * var(--height)/2)) rotateX(  90deg);}
}


.cube.show-front  { 
  animation: pullout 4s forwards;
}
.cube.show-bottom { 
  animation: pullout1 4s forwards;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.bottom { 
  transform: rotateX(-90deg) translateZ(calc(var(--height)/1.9));
  background-color: green;
}

.front  { 
  transform: rotateY(  0deg) translateZ(calc(var(--height)/1.9)); 
  background-color: grey;
  display: flex;
  justify-content: center;
}
.header-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.logo{
  z-index: 1;
  align-self: flex-start;
  margin: 20px;
  position: fixed;
  color: white;
  font-size: 24px;
}
.content-container{
  background-color: darkgrey;
  width: 100%;
  max-width: 1000px;
  margin: auto 0;
}