*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board-container{
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 500px;
}
.board-square{
    height: 12.5%;
    width: 12.5%;
}
.black{
    background-color: brown;
}
.selected{
    background-color: yellow;
}
.capture{
    background-color: red;
}