html, body {
  height:100%;
  margin:0;
}
#div1 {
  position:relative;
  margin:20px auto;
  width:20%;
  padding-bottom:20%;
  background-color:white;
  border:1px solid black;
}
#div1:before {
  content:'';
  position:absolute;
  top:-1px; left:-1px;
  border:3px solid blue;
  height:100%;
  width:100%;
  border-radius: 10%;
}